$def with (page)

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" href="../static/favicon.ico" rel="shortcut icon" /> 
    <title>Turismo México</title>
    <!-- CSS de Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<header>
    <title>Información </title>
</header>
<body style="background-color:#DFDED9">



<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="http://www.utec-tgo.edu.mx">ITI-71 UTEC</a>
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="text-left" class="btn btn-primary" > <a href="/">Inicio</a></a></li>
      <li class="text-left"> <a href="/consultas">Consultas</a></a></li>
      <li class="text-left"> <a href="/login">Inicio de Secion</a></a></li>
      <li class="text-left"> <a href="/informacion">Información</a></a></li>
      
      
      </li>
    </ul>
  </div>
</nav>
    <center>
$:page


<!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>
 
    <!-- Todos los plugins JavaScript de Bootstrap (también puedes
         incluir archivos JavaScript individuales de los únicos
         plugins que utilices) -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>