$def with (posts1)

<H3>PUEBLOS MAGICOS Contacto:</H3>
<CENTER>
    <p> </p>
<table class="table table-hover">
  <td class="active">N°</td>
  <td class="success">PUEBLOS MAGICOS</td>
  <td class="warning">TELEFONO</td>
  <td class="danger">E-MAIL</td>
  <td class="active">ACTUALIZACION</td>
  <td class="success">EDITAR</td>
  <td class="success">Eliminar</td>
  
 

$for post in posts1:
  <tr>
    <td class="active">$post.id_contacto</td>
    <td class="danger">$post.nombre</td>
    <td class="success">$post.telefono</td>
    <td class="warning">$post.email</td>
    <td class="danger">$post.fecha_actuliz</td>
   <td class="active"><form action="/edit/$post.id_contacto"><input type="submit" value="Editar"/></form></a></td>
   <td class="active"><form action="/delete/$post.id_contacto" method="post">
    <input type="submit" value="Eliminar"/>
</form>
</td>
</table>


<a href="/new"><button type="button" class="btn btn-info">Nuevo registro</button></a>

     